@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-family: Barlow, sans-serif !important;
    font-size: 16px;
    --primary-color: #F16718;
    --primary-color-light: #FF9B62;
    --secondary-color: #162542;
    --secondary-color-light: #7B8BAD;
    --grey: #E8EFF2;
    --white: #FFFFFF;
}

@media (width > 700px) {
    :root {
        font-size: 18px;
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: var(--secondary-color);
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.1;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--secondary-color-light);
}

nav {

}

nav img {
    width: 50px;
    height: 50px;
}

.button {
    padding: 16px 26px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    border: none;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s;
    display: block;
}

.button.blue {
    background-color: var(--secondary-color-light);
}

.button.blue:hover {
    background-color: var(--secondary-color);
}

.button.orange {
    background-color: var(--primary-color-light);
}

.button.orange:hover {
    background-color: var(--primary-color);
}