@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-family: Barlow, sans-serif !important;
    font-size: 16px;
    line-height: 1.625;
    --primary-color: #F16718;
    --primary-color-light: #FF9B62;
    --secondary-color: #162542;
    --secondary-color-light: #7B8BAD;
    --grey: #E8EFF2;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color-light);
    padding-block: 24px;
    display: grid;
    gap: 30px;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--secondary-color);
}

h1 {
    font-size: 3.5rem;
    line-height: 1;
}

h2 {
    font-size: 2rem;
    line-height: 1.125;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.75;
}

img.responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-inline: 24px;
}

.logo {
    width: 50px;
    height: 50px;
    display: block;
}

.button {
    padding: 16px 26px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    border: none;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s;
    display: block;
}

.button.blue {
    background-color: var(--secondary-color-light);
}

.button.blue:hover {
    background-color: var(--secondary-color);
}

.button.orange {
    background-color: var(--primary-color-light);
}

.button.orange:hover {
    background-color: var(--primary-color);
}

.main-grid {
    display: grid;
    grid-template-columns: 0 auto 0;
}

.left-col {
    grid-column: 1 / 2;
    background-color: var(--grey);
    height: 240px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.right-col {
    grid-column: 3 / 4;
    background-color: var(--grey);
    height: 240px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hero {
    grid-column: 2 / 3;
    display: grid;
    gap: 30px;
    margin-left: 24px;
}

.hero>div:first-child {
    margin-right: 24px;
    display: grid;
    gap: 30px;
    justify-items: left;
    align-self: center;
}

.hero>div:last-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    min-height: 300px;
    max-height: 450px;
}

.content {
    grid-column: 2 / 3;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
    text-align: center;
}

.content>div:nth-child(1),
.content>div:nth-child(2) {
    overflow: hidden;
    min-height: 200px;
    max-height: 320px;
}

.content>div:nth-child(1) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.content>div:nth-child(2) {
    margin-right: 24px;
    border-radius: 20px;
}

.content>div:nth-child(3) {
    grid-column: 1 / 3;
    margin-inline: 24px;
}

@media (width > 700px) {

    body {
        padding-block: 40px;
    }

    nav {
        margin-inline: 40px;
    }

    .hero {
        margin-left: 40px;
        grid-template-columns: 2fr 3fr;
    }
}

@media (width > 1280px) {

    nav {
        width: 1220px;
        margin-inline: 30px;
        justify-self: center;
    }

    .main-grid {
        grid-template-columns: 1fr 1280px 1fr;
    }

    .hero {
        margin-inline: 30px;
    }

    .hero>div:last-child {
        border-radius: 20px;    
    }
}
